.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.name{
  color: rgb(50, 2, 50);
  font-weight: bolder;
}

.batan{
  margin: 5px 10px;
}
.head{
  font-weight: bolder;
}
.badasize{
  font-size: 17px;
}
.containerBox{
  padding-top: 20px;
  min-height: 93vh;
}
.containerBox2{
  width: 80%;
  margin: auto;
}
.colorbatan{
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.hamaraalert{
  margin-bottom: 0rem;
}
#alertheight{
  height: 58px;
}
#text{
  height: 100px;
  width: 100%;
  border-radius: 5px;
}
@media screen and (max-width: 600px) and (min-width: 370px) {
  #alertheight{
    height: 58px;
  }
}
@media screen and (max-width: 370px) and (min-width: 200px) {
  #alertheight{
    height: 75px;
  }
}